# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
*.test
*.out

# Go workspace
go.work

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Docker volumes
docker/

# Logs
logs/
*.log

# OS
.DS_Store

#Claude
./CLAUDE.md
